#version=DEVEL
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --disabled="chronyd"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

ignoredisk --only-use=sda
# Network information
network  --bootproto=dhcp --device=ens192 --nameserver=192.168.20.8 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$hfWIdKDh4THevKm4$ElRyb1iGD0LH6da.vYcAwd0dKMRMwx2DVXR.KwgzUpPsR8RhCaPB39AZf8YMZ2Yvf2sgHtZEJw/pjviGcUpU40
# System timezone
timezone Asia/Kolkata --isUtc --nontp
user --name=itadmin --password=$6$YJruEIk.VcJYXCei$JkmeLEJVUBCa4sv7nstbNW9VC6wCkVGdOHy5T4ePDX/zPZvUICPoIVxu5QOJvbJj1zehoJ6Sz4qRf52P6bnVU0 --iscrypted --gecos="itadmin"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=1024
part pv.695 --fstype="lvmpv" --ondisk=sda --size=241663
volgroup centos --pesize=4096 pv.695
logvol /var  --fstype="xfs" --size=71676 --name=var --vgname=centos
logvol /gridhd  --fstype="xfs" --size=10236 --name=gridhd --vgname=centos
logvol /opt  --fstype="ext4" --size=30720 --name=opt --vgname=centos
logvol /data  --fstype="ext4" --size=10 --name=data --vgname=centos
logvol swap  --fstype="swap" --size=16128 --name=swap --vgname=centos
logvol /tmp  --fstype="xfs" --size=10240 --name=tmp --vgname=centos
logvol /  --fstype="xfs" --grow --maxsize=51200 --size=1024 --name=root --vgname=centos
logvol /user  --fstype="ext4" --size=30720 --name=user --vgname=centos
logvol /home  --fstype="xfs" --size=20724 --name=home --vgname=centos

%packages
@^gnome-desktop-environment
@base
@compat-libraries
@core
@desktop-debugging
@development
@dial-up
@directory-client
@fonts
@gnome-apps
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@legacy-x
@multimedia
@network-file-system-client
@networkmanager-submodules
@office-suite
@print-client
@security-tools
@system-admin-tools
@x11
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
